<!doctype html>
<html lang="en" ng-app="cipherApp">
<head>
    <title>cipher.js app</title>
    <link rel="stylesheet" href="style/css/app.css"/>
    <meta charset="utf-8" />
</head>
<body ng-controller="Controller">
<div id="container">

    <h1>cipher.js</h1>

    <div class="form">
        <div class="columns">
            <div class="column">
                <label for="algorithm">Algorithm</label><br>
                <select id="algorithm" ng-model="algorithm" ng-options="a.name for a in algorithms"></select>
            </div>

            <div class="column">
                <label for="key">Key</label><br>
                <input id="key" type="text" ng-model="key" placeholder="{{algorithm.keyHint}}">
            </div>
        </div>

        <div class="clear">
            <input id="encipher" type="radio" ng-model="direction" value="encipher">
            <label for="encipher">Encipher</label>
            &nbsp;
            <input id="decipher" type="radio" ng-model="direction" value="decipher">
            <label for="decipher">Decipher</label>
        </div>

        <br><br>

        <div class="clear">
            <label for="input">Input</label><br>
            <textarea id="input" name="input" ng-model="input">{{input}}</textarea>
        </div>

        <div class="clear">
            <label for="output">Output</label><br>
            <textarea id="output" name="output" readonly>{{output}}</textarea>
        </div>
    </div>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

    <!-- app -->
    <!--script src="app.js"></script-->
    <script src="controllers.js"></script>

    <!-- cipher.js -->
    <script src="../src/algorithm.js"></script>
    <script src="../src/caesar.js"></script>
    <script src="../src/playfair.js"></script>
    <script src="../src/railfence.js"></script>
    <script src="../src/vigenere.js"></script>
</div>
</body>
</html>