<!doctype html>
<html lang="en" ng-app="cipherApp">
<head>
    <title>cipher.js app</title>
    <link rel="stylesheet" href="app.css"/>
    <meta charset="utf-8" />
</head>
<body ng-controller="Controller">

    <h1>cipher.js</h1>

    <h2>Algorithm</h2>
    <div>
        <label>
            <select ng-model="algorithm" ng-options="a.name for a in algorithms">
            </select>
        </label>
    </div>

    <h2>Key</h2>
    <div>
        <label>
            <input name="key" ng-model="key" placeholder="{{algorithm.keyHint}}">
        </label>
    </div>

    <h2>Direction</h2>
    <div>
        <label>
            <input type="radio" ng-model="direction" value="encipher">
            Encipher
        </label>
        <label>
            <input type="radio" ng-model="direction" value="decipher">
            Decipher
        </label>
    </div>

    <h2>Input</h2>
    <div>
        <label>
            <textarea name="input" ng-model="input">{{input}}</textarea>
        </label>
    </div>

    <h2>Output</h2>
    <div>
        <label>
            <textarea name="output" readonly>{{output}}</textarea>
        </label>
    </div>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

    <!-- app -->
    <!--script src="app.js"></script-->
    <script src="controllers.js"></script>

    <!-- cipher.js -->
    <script src="../src/algorithm.js"></script>
    <script src="../src/caesar.js"></script>
    <script src="../src/playfair.js"></script>
    <script src="../src/railfence.js"></script>
    <script src="../src/vigenere.js"></script>

</body>
</html>