/* CSS Reset (Eric Meyer) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

@font-face {
   font-family: 'Cantarell';
   src: url(../fonts/Cantarell-Regular.eot);
   src: local('Cantarell'), url('../fonts/Cantarell-Regular.ttf') format('truetype');
}

body {
    background-color: #f9f9f9;
    color: #222;
    font-family: Cantarell, Verdana, sans-serif;
    font-size: 12px;
}

.columns {
    margin: 0px auto;
    width: 100%;
    overflow: auto;
}

.column {
    float:left;
    margin:0;
    width:50%
}

.clear { clear: both; }

#container {
    background: url('../images/container.png') no-repeat;
    width: 754px;
    height: 370px;
    margin: 20px auto;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
    #container .form { margin: 10px 45px 0 45px; }

    #container h1 {
        color: #a90329;
        font-family: Cantarell, Verdana, sans-serif;
        text-align: center;
        font-size: 24px;
        text-shadow: 1px 1px 2px #222;
        padding: 10px 20px 30px 20px;
    }

    #container input[type=text], #container select, #container textarea {
        background: url('../images/input.png') no-repeat;
        color: #888;
        border: 1px solid #ccc;
        font-family: Cantarell, Verdana, sans-serif;
        font-weight: bold;
        font-size: 15px;
        padding: 0 25px;
        margin: 20px 0;

        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    #container input[type=text] {
        width: 250px;
        height: 35px;
    }

    #container select {
        width: 300px;
        height: 35px;
    }

    #container textarea {
        width: 580px;
        height: 50px;
    }

    #container input.error { border: 1px solid red; }
    #container input.valid { border: 1px solid #1FFF00; }

    #container input:focus, #container select:focus {
        border: 1px solid #a90329;
        color: #a90329;
    }

    #container select { padding: 5px 0 5px 25px; }
    #container option { padding: 0 15px; }

    #container label {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        /*float: right;
        margin: 23px -25px;
        width: 270px;*/
    }
